---
layout: main
---

<main class="">
    {% block content %}
        {{ content | safe }}
    {% endblock %}
    <div class="m-10 text-sm text-center text-light absolute bottom-0 w-screen">
        <div>Build Version: {% version %}</div>
        <div>Build Time: {% versionDate %}</div>
    </div>
</main>
