---
layout: header
---

<main class="">
    {% block content %}
        {{ content | safe }}
    {% endblock %}
    <div class="text-sm text-center text-light mb-10 w-full">
        <div>Build Version: {% version %}</div>
        <div>Build Time: {% versionDate %}</div>
    </div>
</main>
