---
layout: body
js: index.js
eleventyNavigation:
    key: Home
extraNav:
    -   key: CustomNavFunction
        url: '#'
        title: Custom Nav Function
        clickFunc: $store.navFunctions.customFunction()
    -   key: HelpModal
        url: '#'
        title: Help
        clickFunc: $store.modals.toggleModal('help')
    -   key: FAQModal
        url: '#'
        title: FAQ
        clickFunc: $store.modals.toggleModal('faq')
contacts:
    -   url: mailto:stephen.zappia@gmail.com
        icon: fas fa-envelope
    -   url: https://twitter.com/zapscribbles
        icon: fab fa-twitter
---
<div x-data="{ pageLoaded: false }"
    x-init="$nextTick(() => { pageLoaded = true })"
    class="mt-20 lg:mt-60 h-full w-full flex flex-col items-center justify-center"
    >
    {% set delayCounter = 1 %}
    <h1 class="text-center"
        {% include "partials/delayed-fade-in.njk" %}{% set delayCounter = delayCounter + 3 %}
        >Hey, I'm Stephen.</h1>

    <h2 class="text-center"
        {% include "partials/delayed-fade-in.njk" %}{% set delayCounter = delayCounter + 8 %}
        >Nice to meet you.</h2>

    <div class="lg:mt-40 mt-20 text-center"
        {% include "partials/delayed-fade-in.njk" %}
        >
        <h5>Shall we?</h5>
        <div class="mt-4 flex items-center justify-around">
            {% for contact in contacts %}
                <a href="{{ contact.url }}" target="_blank" x-data="{ hover: false }" @mouseover="hover = !hover" @mouseout="hover = !hover" >
                    <i class="{{ contact.icon }} text-3xl transition-all" :class="{ 'text-regularBlue': hover }"></i>
                </a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="h-80"></div>

{# Modals #}
{# <div x-data>
    {% set modalID = "faq" %}
    {% include "partials/modal.njk" %}
    {% set modalID = "help" %}
    {% include "partials/modal.njk" %}
</div> #}

{# <div x-data="componentData" class="text-center m-20">
    <span x-text="message"></span>
    {% set tooltipText = "This is a tooltip" %}
    {% include "partials/tooltip.njk" %}
</div> #}
